*.class


*.ctxt
.idea/
.settings/
bin/

.classpath
conf/bot.json
*.properties
*.lock
*.bin
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.properties
*.properties
*.jar
*.MF
src/main/java/META-INF/MANIFEST.MF
